/*============== FUENTE ===================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*================= VARIABLES =================*/
:root {
  /* bg-colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
  --to-gradient: #121e3c;
  --lightblue: #10cfd0;
  --pink: #c33ad6;
}

/*================= RESET ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;

  /* border: 1px solid red; */
}

/*================= HEADER ====================*/

header {
  background: linear-gradient(to bottom, var(--to-gradient), var(--background));
  height: 4rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 2rem;
}

.logo {
  height: 30px;
  width: 125px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 5rem;
  padding-right: 2rem;
}

.navbar-list {
  display: flex;
  gap: 2rem;
}

.navbar-list li a {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 500;
}

.navbar-list li a:hover{
  color: var(--text-white);
  font-size: 14px;
  font-weight: 700;
}

/* ================== Carrito ==================== */

#cart-toggle {
  display: none;
}

.nav-cart{
  cursor: pointer;
}

.carrito {
  background: linear-gradient(to top, var(--to-gradient), var(--background));
  padding: 40px;
  position: fixed;
  border: none;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  top: 65px;
  height:calc(100vh - 65px);
  right: -392px;
  overflow-y: auto;
  transition: right 1s ease-in-out;
}

.cart-bubble {
  position: absolute;
  top: 8px;
  right: 3.5rem;
  text-align: center;
  background: var(--primary);
  color: var(--text-white);
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1px;
  border-radius: 50%;
}

.carrito h2 {
  color: var(--text-white);
}

.cart-item {
  background-color: #534e4a7a;
  padding: 10px 15px;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: 2px solid var(--electric);
  border-radius: 1rem;
}

.nav-cart {
  height: 30px;
  width: 30px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.item-info h3 {
  color: var(--text-white);
  font-size: 16px;
}

.item-info p {
  font-size: 12px;
  color: var(--text-gray);
}

.item-info span {
  font-size: 14px;
  font-weight: 700;
  background: linear-gradient(to right, var(--lightblue), var(--pink));
  background-clip: text;
  color: transparent;
}

.add-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add {
  padding: 0 9px;
  color: var(--text-white);
  font-size: 20px;
  border: solid 1px var(--electric);
  border-radius: 3px;
}

.delete {
  padding: 0 9px;
  color: var(--text-white);
  font-size: 20px;
  border: solid 1px var(--electric);
  border-radius: 3px;
  background-color: #534e4a7a;
}

.num {
  font-size: 20px;
  color: var(--text-gray);
}

.carrito hr {
  width: 100%;
  border: none; /* Elimina cualquier borde preestablecido */
  height: 2px; /* Ajusta el grosor de la línea */
  background-color: var(--electric); /* Color de la línea */
  margin: 20px 0; /* Espacio alrededor de la línea */
}

#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}

#cart-toggle:checked + .carrito {
  display: flex;
  right: 0;
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total-container h5 {
  color: var(--text-white);
  font-size: 18px;
  font-weight: 700;
}

.total-container span {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 200;
}

.comprar-btn {
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--text-white);
  width: 90%;
  padding: 8px 30px;
}


/*================= MAIN ====================*/

main {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--bg-white);
  padding: 2rem;
}

/*================= HERO ====================*/

#hero {
  background-color: var(--background);
  margin-top: 4rem;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  gap: 3rem;
  width: 100%;
}

/*================= hero-info ====================*/
.hero-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-info h1 {
  font-size: 2em;
  background: linear-gradient(to top, var(--lightblue), var(--pink));
  color: transparent;
  background-clip: text;
  background-clip: text;
}

.hero-info p {
  color: var(--text-gray);
  font-size: 1em;
}

.hero-info span {
  color: var(--text-white);
  font-weight: 700;
}

.hero-info button {
  color: var(--text-white);
  width: 70%;
  height: 2.5rem;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 700;
}

.hero-info button:hover {
  background-color: var(--secondary);
  border: solid var(--primary) 2px;
  color: var(--primary);
}

.hero-card {
  width: 300px;
  height: 400px;
  background-color: var(--secondary);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-hero {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  aspect-ratio: 1 / 1;
}

.card-desc {
  display: flex;
  gap: 1rem;
}

.card-desc h3 {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-desc span {
  height: 1.3rem;
  width: 2.5rem;
  background-color: var(--primary);
  border-radius: 5px;
  text-align: center;
}

.card-info {
  display: flex;
  gap: 3rem;
}

.card-info .creator {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-info .creator img {
  aspect-ratio: 1 / 1;
  width: 45px;
  height: 45px;
}

.card-info .creator span {
  font-size: 14px;
  color: var(--text-gray);
}

.card-value {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-value span {
  font-size: 14px;
  color: var(--text-gray);
}

.card-value p {
  font-weight: 700;
}

/*============= INFO SECTION =============*/

#info {
  background-color: var(--background);
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

#info h2 {
  text-align: center;
  font-size: 2remx;
  width: 80%;
}

.info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 0px 70px;
  width: 100%;
}

.info-card {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  border-radius: 10px;
}

.info-card img {
  width: 50px;
}

.info-card h4 {
  font-size: 18px;
}

.info-card p {
  text-align: center;
  font-size: 90%;
  color: var(--text-gray);
}

/*========== DISCOVER =========*/

#discover {
  background-color: var(--background);
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  padding: 0 4rem;
  width: 100%;
}

.discover-info {
  justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.discover-info h2 {
  font-size: 30px;
  width: 70%;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.desc p {
  font-size: 14px;
  color: var(--text-gray);
}

.desc a {
  color: var(--text-white);
  font-size: 18px;
  text-decoration: underline;
}

.container-pjs {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: center;
}

.container-pjs img {
  aspect-ratio: 1 / 1;
  width: 32%;
}

/*=========== DISCOVER =============*/

#discover {
  background-color: var(--background);
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 4rem;
}

.discover-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.discover-info h2 {
  font-size: 30px;
  width: 600px;
}

.desc {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.desc p {
  font-size: 14px;
  color: var(--text-gray);
}

.desc a {
  color: var(--text-white);
  font-size: 18px;
  text-decoration: underline;
}

.desc a:hover{
  color: var(--electric);
}

.container-pjs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.container-pjs img {
  aspect-ratio: 1 / 1;
  width: 32%;
}

/*=================== NFTs ====================*/

#hotNFTs {
  background-color: var(--background);
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 0 2rem;
}

#hotNFTs h2 {
  font-size: 35px;
}

#hotNFTs ul {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.btns {
  background-color: var(--btn-bg);
  color: var(--text-white);
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
}

.active-btns {
  background-color: var(--primary);
  color: var(--text-white);
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  cursor: pointer;
}

.hotcards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hotcard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: var(--secondary);
  border-radius: 1rem;
}

.card-group2{
  display: none;
}

.card-top {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.card-top h5 {
  font-size: 16px;
}

.card-top span {
  color: var(--text-gray);
}

.card-mid {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card-mid .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-mid p {
  color: var(--text-gray);
}

.card-mid span {
  font-weight: 800;
}

.card-bot {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.card-bot .hothour {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hothour p {
  font-weight: 700;
}

.card-bot button {
  background-color: var(--primary);
  border: none;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  color: var(--text-white);
}

#hotNFTs .SeeMore { /*boton "ver mas"*/
  margin: 2rem 0;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--text-white);
  border: 0.5px solid var(--electric);
  border-radius: 1rem;
  cursor: pointer;
}

#hotNFTs .SeeMore:hover {
  background-color: #7c7e8557;
  color: var(--electric);
}

/* ================== FOOTER ==================== */

footer {
  background-color: var(--background);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

.politicas {
  display: flex;
  gap: 2rem;
}
.politicas li {
  text-align: center;
  color: var(--text-gray);
  font-size: 14px;
  cursor: pointer;
}

footer p {
  color: var(--text-gray);
  font-size: 14px;
}

footer span {
  color: var(--text-white);
  font-weight: 700;
}

.hidden{
  visibility: hidden;
}